@model ProjectViewModel
@{ 
    ViewBag.Title = "EzTask - " + string.Format(Html.GetStringResource("ProjectPageDetailTitle", StringResourceType.ProjectPage).ToString(), Model.Project.ProjectCode);
}

@section styles{
    <link rel="stylesheet" href="~/project/css/project.css">
}
@section Scripts{
    <script src="~/project/js/project.js"></script>
}
@section header{
    <h1>
        @Html.GetStringResource("Project", StringResourceType.BreadCrumb): @Model.Project.ProjectName
        <small>@Html.GetStringResource("ProjectCode", StringResourceType.BreadCrumb): @Model.Project.ProjectCode</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)</a></li>
        <li><a asp-action="Index" asp-controller="Project">@Html.GetStringResource("Project", StringResourceType.BreadCrumb)</a></li>
        <li class="active">@Model.Project.ProjectCode</li>
    </ol>
}

<div class="box">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-bandcamp text-green"></i> @Html.GetStringResource("ProjectInformation", StringResourceType.ProjectPage)</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool"
                    data-widget="collapse" data-toggle="tooltip" title="" data-original-title="Collapse">
                <i class="fa fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-xs-4">
                <p class="under-line-dot"><i class="fa fa-qrcode"> @Html.GetStringResource("ProjectCode", StringResourceType.ProjectPage): @Model.Project.ProjectCode</i></p>
                <p class="under-line-dot"> <i class="fa fa-book"> @Html.GetStringResource("ProjectName", StringResourceType.ProjectPage): @Model.Project.ProjectName</i></p>
                <p class="under-line-dot"> <i class="fa fa-user-circle"> @Html.GetStringResource("Manager", StringResourceType.ProjectPage): @Model.Project.Owner.DisplayName</i></p>
            </div>
            <div class="col-xs-4">
                <p class="under-line-dot"><i class="fa fa-qrcode"> @Html.GetStringResource("TotalOfPhase", StringResourceType.ProjectPage): @Model.TotalPhase</i></p>
                <p class="under-line-dot"><i class="fa fa-qrcode"> @Html.GetStringResource("TotalOfTask", StringResourceType.ProjectPage): @Model.TotalTask</i></p>
                <p class="under-line-dot"><i class="fa fa-qrcode"> @Html.GetStringResource("TotalOfMember", StringResourceType.ProjectPage): @Model.TotalMember</i></p>
            </div>
            <div class="col-xs-4">
                <p class="under-line-dot"><i class="fa fa-calendar-o"> @Html.GetStringResource("CreatedDate", StringResourceType.ProjectPage): @Model.Project.CreatedDate.ToString("dd/MM/yyy")</i></p>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <i class="fa fa-circle text-green"></i><span class="space-left">@Html.GetStringResource("Status", StringResourceType.ProjectPage): @Html.GetStringResource("StatusTitle", StringResourceType.ProjectPage) @Model.Project.Status.ToString().ToLower()</span>
    </div>
</div>

<div class="project-detail-summary">
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-light-blue">
                <span class="info-box-icon"><i class="fa fa-thumbs-o-up"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@Html.GetStringResource("OpenPhases", StringResourceType.ProjectPage)</span>
                    <span class="info-box-number">@Model.TotalOpenPhase</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: @Model.PercentOpenPhase%"></div>
                    </div>
                    <span class="progress-description">
                        @Model.PercentOpenPhase% @Html.GetStringResource("TakeIn", StringResourceType.ProjectPage) @Html.PrintNumberWithText(Html.GetStringResource("Phase", StringResourceType.ProjectPage).ToString(), Model.TotalPhase)
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-green">
                <span class="info-box-icon"><i class="fa fa-check-circle"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@Html.GetStringResource("ClosedPhases", StringResourceType.ProjectPage)</span>
                    <span class="info-box-number">@Model.TotalClosedPhase</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: @Model.PercentClosedPhase%"></div>
                    </div>
                    <span class="progress-description">
                        @Model.PercentClosedPhase% @Html.GetStringResource("OpenPhases", StringResourceType.ProjectPage) @Html.PrintNumberWithText(Html.GetStringResource("Phase", StringResourceType.ProjectPage).ToString(), Model.TotalPhase)
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box bg-red">
                <span class="info-box-icon"><i class="fa fa-times-circle"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">@Html.GetStringResource("FailedPhases", StringResourceType.ProjectPage)</span>
                    <span class="info-box-number">@Model.TotalFailedPhase</span>

                    <div class="progress">
                        <div class="progress-bar" style="width: @Model.PercentFailedPhase%"></div>
                    </div>
                    <span class="progress-description">
                        @Model.PercentFailedPhase% @Html.GetStringResource("OpenPhases", StringResourceType.ProjectPage) @Html.PrintNumberWithText(Html.GetStringResource("Phase", StringResourceType.ProjectPage).ToString(), Model.TotalPhase)
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="task-table">
    <div class="row">
        @foreach (var item in Model.TaskList)
        {
            var phaseName = item.First().Phase.PhaseName;

            <div class="col-md-6">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">@Html.GetStringResource("Phase", StringResourceType.ProjectPage): @phaseName</h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered table-hover dataTable"
                               role="grid">
                            <thead>
                                <tr role="row">
                                    <th width="10px">#</th>
                                    <th>@Html.GetStringResource("Task", StringResourceType.ProjectPage)</th>
                                    <th>@Html.GetStringResource("Owner", StringResourceType.ProjectPage)</th>
                                    <th>@Html.GetStringResource("Progress", StringResourceType.ProjectPage)</th>
                                    <th>@Html.GetStringResource("Label", StringResourceType.ProjectPage)</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var task in item)
                                {
                                    var index = item.IndexOf(task);
                                    var seperateClass = index % 2 == 0 ? "odd" : "even";
                                    @if (task.Assignee.DisplayName == "Non Assigned")
                                    {
                                        task.Assignee.DisplayName = "N/A";
                                    }
                                    var percent = task.PercentCompleted + "%";
                                <tr role="row" class="@seperateClass">
                                    <td class="text-center">@(index + 1)</td>
                                    <td style="word-break: break-word;">@task.TaskTitle</td>

                                    <td class="text-center">@task.Assignee.DisplayName</td>
                                    <td class="text-center">
                                        @if (task.Status == TaskItemStatus.Working)
                                        {
                                            <div title="current working at @percent of completion" class="progress progress-xs progress-striped active">
                                                <div class="progress-bar progress-bar-success" style="width: @percent"></div>
                                            </div>
                                            <span class="label text-black">@percent @Html.GetStringResource("Completed", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Closed)
                                        {
                                            <div title="100% completed" class="progress progress-xs progress-striped active">
                                                <div class="progress-bar progress-bar-yellow" style="width: 100%"></div>
                                            </div>
                                            <span class="label text-black">@Html.GetStringResource("Completed2", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Failed)
                                        {
                                            <span class="label label-danger">@Html.GetStringResource("TaskFailed", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Open)
                                        {
                                            <span class="label bg-light-blue">@Html.GetStringResource("TaskOpenning", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Feedback)
                                        {
                                            <span class="label bg-blue">@Html.GetStringResource("WaitFeedback", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Resovled)
                                        {
                                            <span class="label bg-green">@Html.GetStringResource("NeedReviewed", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Assiged)
                                        {
                                            <span class="label bg-yellow">@Html.GetStringResource("WaitImplementation", StringResourceType.ProjectPage)</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (task.Status == TaskItemStatus.Working)
                                        {
                                            <span class="badge bg-green">@Html.GetStringResource("WorkingStatus", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Closed)
                                        {
                                            <span class="badge bg-yellow">@Html.GetStringResource("ClosedStatus", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Failed)
                                        {
                                            <span class="badge bg-red">@Html.GetStringResource("FailedStatus", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Open)
                                        {
                                            <span class="badge bg-light-blue">@Html.GetStringResource("OpenStatus", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Feedback)
                                        {
                                            <span class="badge bg-blue">@Html.GetStringResource("FeedbackStatus", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Resovled)
                                        {
                                            <span class="badge bg-green">@Html.GetStringResource("ResovledStatus", StringResourceType.ProjectPage)</span>
                                        }
                                        else if (task.Status == TaskItemStatus.Assiged)
                                        {
                                            <span class="badge bg-yellow">@Html.GetStringResource("AssignedStatus", StringResourceType.ProjectPage)</span>
                                        }
                                    </td>
                                </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
