@{
    ViewData["Title"] = "EzTask - " + Html.GetStringResource("PageNotFoundTitle", StringResourceType.ErrorPage);
}


@section header{
    <h1>
        @Html.GetStringResource("PageNotFound", StringResourceType.BreadCrumb)
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i>  @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)</a></li>
    </ol>
}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3><i class="fa fa-frown-o"></i><span class="space-left">@Html.GetStringResource("PageNotFoundMessage", StringResourceType.ErrorPage)</span></h3>
        <span>@Html.GetStringResource("Click", StringResourceType.ErrorPage) <a asp-action="Index" asp-controller="Home">@Html.GetStringResource("Here", StringResourceType.ErrorPage)</a> @Html.GetStringResource("ToGoBackHomePage", StringResourceType.ErrorPage)</span>
    </div>
</div>
