@model AccountInfoModel

@section styles{
    <link rel="stylesheet" href="~/css/control-style.css">
    <link rel="stylesheet" href="~/css/fix-style.css">
}
@section header{
    <h1>
        User Profile
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active">User profile</li>
    </ol>
}

<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <img class="profile-user-img img-responsive img-circle" src="@Url.Action("LoadAvatar","Common")" alt="User profile picture">
                <a href="" data-toggle="modal" data-target="#upload-avatar-modal">Change</a>
                <h3 class="profile-username text-center">@Html.NickName()</h3>
                <p class="text-muted text-center">@Html.JobTitle()</p>
                <ul class="list-group list-group-unbordered">
                    <li class="list-group-item">
                        <b>Followers</b> <a class="pull-right">1,322</a>
                    </li>
                    <li class="list-group-item">
                        <b>Following</b> <a class="pull-right">543</a>
                    </li>
                    <li class="list-group-item">
                        <b>Friends</b> <a class="pull-right">13,287</a>
                    </li>
                </ul>
                <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">About Me</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> Education</strong>
                <p class="text-muted">
                    @Model.Education
                </p>
                <hr>
                <strong><i class="fa fa-map-marker margin-r-5"></i> Location</strong>
                <p class="text-muted">@Model.Address1</p>
                <hr>
                @Html.Partial("_SkillInfo")
                <hr>
                <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Information" data-toggle="tab">Information</a></li>
            </ul>
            <div class="tab-content">
                <div class="active actab-pane" id="Information">
                    @Html.Partial("_UpdateInfo")
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>
@Html.Partial("_UploadAvatarModal")
<!-- /.row -->
@section Scripts{
    <script src="~/js/user-profile.js"></script>
    @Html.Partial("_ValidationScriptsPartial")
}