@model IEnumerable<TaskHistoryModel>

@if (Model != null && Model.Any())
{
    <div class="content-container">
        @foreach (var history in Model)
        {
            <div class="row history-item">
                <div class="content-item col-md-12 col-xs-12">
                    <div class="pull-left">
                        <img src="@Url.Action("LoadAvatar", "Common", new { accountId = history.User.AccountId })" class="img-circle img-thumbnail">
                    </div>
                    <div class="pull-left description">
                        <span><b>@history.User.DisplayName</b> @Html.Raw(history.Title)</span>
                        <p><i class="fa fa-calendar-check-o text-green"></i> @history.UpdatedDate.ToString("dd/MM/yyyy HH:mm:ss")</p>
                        @if (!string.IsNullOrEmpty(history.Content))
                        {
                            <p><i class="fa fa-hand-o-right text-green"></i> <a data-id="@history.HistoryId" class="history-detail" href=""><span class="text-light-blue">@Html.GetStringResource("ViewDetail", StringResourceType.TaskPage)</span></a></p>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
}