@{
    ViewBag.Title = "EzTask - " + Html.GetStringResource("RecoverPasswordPageTitle", StringResourceType.AuthenticationPage);
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/authen/css/authen.css">
}
@model RecoverPasswordViewModel
<p class="login-box-msg">@Html.GetStringResource("RenewPasswordTitle", StringResourceType.AuthenticationPage)</p>

<form asp-action="RecoverPasswordAction" method="post">
    <div class="text-danger"><span>@Html.PrintErrorMessage()</span></div>
    @if (Model.IsExpired)
    {
        <br>
        <div><a href="recover-password.html">@Html.GetStringResource("ForgotPassword", StringResourceType.AuthenticationPage)</a></div>
    }
    else
    {
        <input type="hidden" asp-for="AccountName" />
        <input type="hidden" asp-for="RecoverCode" />
        <input type="hidden" asp-for="Email" />
        <div class="form-group has-feedback">
            <input type="password" asp-for="Password" class="form-control" placeholder="@Html.GetStringResource("NewPassword", StringResourceType.AuthenticationPage)">
            <span class="glyphicon glyphicon-lock  form-control-feedback"></span>
            <div><span asp-validation-for="Password" class="text-danger"></span> </div>
        </div>
        <div class="form-group has-feedback">
            <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="@Html.GetStringResource("ConfirmNewPassword", StringResourceType.AuthenticationPage)">
            <span class="glyphicon glyphicon-lock  form-control-feedback"></span>
            <div><span asp-validation-for="ConfirmPassword" class="text-danger"></span> </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">@Html.GetStringResource("Submit", StringResourceType.AuthenticationPage)</button>
            </div>
        </div>
    }
</form>