@model TaskViewModel

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">
            <i class="fa fa-book text-success"></i>  @Model.Phrase.PhraseName: @Model.TaskCount
        </h3>
        <div class="box-tools pull-right">
            <div class="has-feedback">
                <input type="text" class="form-control input-sm search-task" placeholder="Search task">
                <span class="glyphicon glyphicon-search form-control-feedback"></span>
            </div>
        </div>
    </div>
    <div class="box-body no-padding">
        <div class="task-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                <i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button type="button" title="Delete" class="btn btn-default btn-sm btn-delete-task"><i class="fa fa-trash-o"></i></button>
                <button type="button" title="Add new task" class="btn btn-default btn-sm btn-addnew-task"><i class="fa fa-plus"></i></button>
                <button type="button" title="Assign task" class="btn btn-default btn-sm btn-assign-task"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" title="refresh" class="btn btn-default btn-sm btn-refresh-task"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
                1-50/200
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
        <div class="table-responsive task-table">
            <table class="table table-hover table-striped task-list">
                <tbody>
                    @if (Model.TaskList.Any())
                    {
                        foreach (var task in Model.TaskList)
                        {
                    <tr data-id="@task.TaskId">
                        <td><input data-id="@task.TaskId" type="checkbox"></td>
                        <td class="task-name"><a>@task.TaskCode</a></td>
                        <td class="task-title">
                            @task.TaskTitle
                        </td>
                        <td title="Assign to @task.Assignee.DisplayName" class="task-assignee"><i class="fa fa-user text-green"></i> @task.Assignee.DisplayName</td>
                        <td class="task-status">
                            <task-status asp-for="@task.Status"></task-status>
                        </td>
                        @if (task.HasAttachment)
                        {
                        <td class="task-attachment"><i class="fa fa-paperclip"></i></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td class="task-date">@task.UpdatedDate.TimeAgo()</td>
                    </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td><i class="fa fa-frown-o text-red"></i> No content to display</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="box-footer no-padding">
        <div class="task-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                <i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button type="button" title="Delete" class="btn btn-default btn-sm btn-delete-task"><i class="fa fa-trash-o"></i></button>
                <button type="button" title="Add new task" class="btn btn-default btn-addnew-task btn-sm"><i class="fa fa-plus"></i></button>
                <button type="button" title="Assign task" class="btn btn-default btn-sm btn-assign-task"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" title="refresh" class="btn btn-default btn-sm btn-refresh-task"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
                1-50/200
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fa fa-chevron-right"></i></button>
                </div>
                <!-- /.btn-group -->
            </div>
            <!-- /.pull-right -->
        </div>
    </div>
</div>
<input type="hidden" id="phrase-id" asp-for="Phrase.Id"/>