@model AccountInfoViewModel

<form asp-action="UpdateInfo" asp-controller="UserProfile" class="form-horizontal">
    <input asp-for="AccountInfoId" type="hidden" />
    <input asp-for="AccountId" type="hidden" />

    <div class="form-group">
        <label for="inputName" class="col-sm-2 control-label">@Html.GetStringResource("Name", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <input asp-for="FullName" class="form-control" id="inputName" placeholder="@Html.GetStringResource("Name", StringResourceType.UserProfilePage)">
        </div>
    </div>
    <div class="form-group">
        <label for="inputNickName" class="col-sm-2 control-label">@Html.GetStringResource("NickName", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <input asp-for="DisplayName" class="form-control" id="inputNickName" placeholder="@Html.GetStringResource("YourNickName", StringResourceType.UserProfilePage)">
        </div>
    </div>
    <div class="form-group">
        <label for="inputJobTitle" class="col-sm-2 control-label">@Html.GetStringResource("JobTitle", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <input asp-for="JobTitle" class="form-control" id="inputJobTitle" placeholder="@Html.GetStringResource("JobTitle", StringResourceType.UserProfilePage)">
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail" class="col-sm-2 control-label">@Html.GetStringResource("Email", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <input asp-for="Email" type="email" class="form-control" id="inputEmail" placeholder="@Html.GetStringResource("Email", StringResourceType.UserProfilePage)">
        </div>
    </div>
    <div class="form-group">
        <label for="inputPhone" class="col-sm-2 control-label">@Html.GetStringResource("PhoneNumber", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <input asp-for="PhoneNumber" class="form-control" id="inputPhone" placeholder="@Html.GetStringResource("PhoneNumber", StringResourceType.UserProfilePage)">
        </div>
    </div>
    <div class="form-group">
        <label for="inputBirthDay" class="col-sm-2 control-label">@Html.GetStringResource("DayOfBirth", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <div class="input-group date">
                <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                </div>
                <input asp-for="BirthDay" class="form-control pull-right datepicker" id="inputBirthDay" type="text">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress1" class="col-sm-2 control-label">@Html.GetStringResource("Address1", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <input asp-for="Address1" class="form-control" id="inputAddress1" placeholder="@Html.GetStringResource("Address1", StringResourceType.UserProfilePage)">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress2" class="col-sm-2 control-label">@Html.GetStringResource("Address2", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <input asp-for="Address2" class="form-control" id="inputAddress2" placeholder="@Html.GetStringResource("Address2", StringResourceType.UserProfilePage)">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAboutYou" class="col-sm-2 control-label">@Html.GetStringResource("SummaryInfo", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <textarea asp-for="Introduce" class="form-control" id="inputAboutYou" placeholder="@Html.GetStringResource("AboutYou", StringResourceType.UserProfilePage)"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEducation" class="col-sm-2 control-label">@Html.GetStringResource("Education", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <textarea asp-for="Education" class="form-control" id="inputEducation" placeholder="@Html.GetStringResource("Education", StringResourceType.UserProfilePage)"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="inputSkills" class="col-sm-2 control-label">@Html.GetStringResource("Skills", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-10">
            <input asp-for="Skills" type="text" class="form-control" id="inputSkills" placeholder="@Html.GetStringResource("Skills", StringResourceType.UserProfilePage)">
            <p>
                @Html.GetStringResource("SkillExample", StringResourceType.UserProfilePage)
            </p>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input asp-for="IsPublished" type="checkbox"> @Html.GetStringResource("AgreePublishProfile", StringResourceType.UserProfilePage)
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-danger">@Html.GetStringResource("Submit", StringResourceType.UserProfilePage)</button>
        </div>
    </div>
</form>