@section styles{
    <link rel="stylesheet" href="~/notification/css/notification.css">
}

@{ 
    ViewBag.Title = "EzTask - " + Html.GetStringResource("NotificationPageTitle", StringResourceType.Notification);
}

@section header{
    <h1>
        @Html.GetStringResource("Notification", StringResourceType.BreadCrumb)
        <small>@Html.GetStringResource("NotificationTitle", StringResourceType.BreadCrumb)</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)</a></li>
        <li class="active"> @Html.GetStringResource("Notification", StringResourceType.BreadCrumb)</li>
    </ol>
}

<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-bell-o"></i> @Html.GetStringResource("NotifcationList", StringResourceType.Notification)</h3>
    </div>
    <div class="notification-box-content">
        <!--Notification List-->
    </div>
</div>

@section Scripts{
    <script src="~/notification/js/notification.js"></script>
}