@model TaskViewModel
@{
    var taskCount = Model.TaskList.Count();
    int owner = 0;

    if( Model.Project != null)
    {
        owner = Model.Project.Owner.AccountId;
    }

    if(Model.Phase == null)
    {
        Model.Phase = new PhaseModel();
    }
}
<div class="box box-primary">
    <div class="box-header with-border">
        <div class="phase-tool">
            @if (User.Identity.AccountId() == owner)
            {
                if (!Model.Phase.IsDefault)
                {
                    <span class="badge"><a class="edit-phase"><i class="fa fa-edit"></i> @Html.GetStringResource("EditPhase", StringResourceType.TaskPage)</a></span>
                    <span class="badge"><a class="remove-phase"><i class="fa fa-remove"></i> @Html.GetStringResource("RemovePhase", StringResourceType.TaskPage)</a></span>
                }
            }
        </div>
        <div class="task-tool">
            <h3 class="box-title">
                <i class="fa fa-book text-success"></i>  @Model.Phase.PhaseName: @Html.PrintNumberWithText(Html.GetStringResource("Task", StringResourceType.TaskPage).ToString(), taskCount)
            </h3>
            <div class="box-tools pull-right">
                <div class="has-feedback">
                    <input type="text" class="form-control input-sm search-task" placeholder="@Html.GetStringResource("SearchTask", StringResourceType.TaskPage)">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </div>
        </div>
        @if(!string.IsNullOrEmpty(Model.Phase.PhaseGoal))
        {
            <div class="phase-goal"><b>Phase Goal</b>: @Html.Raw(Model.Phase.PhaseGoal)</div>
        }
    </div>
    <div class="box-body no-padding">
        <div class="task-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                <i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button type="button" title="@Html.GetStringResource("Delete", StringResourceType.TaskPage)" class="btn btn-default btn-sm btn-delete-task"><i class="fa fa-trash-o"></i></button>
                <button type="button" title="@Html.GetStringResource("AddNewTask", StringResourceType.TaskPage)" class="btn btn-default btn-sm btn-addnew-task"><i class="fa fa-plus"></i></button>
                <button type="button" title="@Html.GetStringResource("AssignTask", StringResourceType.TaskPage)" class="btn btn-default btn-sm btn-assign-task"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" title="@Html.GetStringResource("Refresh", StringResourceType.TaskPage)" class="btn btn-default btn-sm btn-refresh-task"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
                <span class="badge bg-aqua task-count">@Html.PrintNumberWithText(Html.GetStringResource("Task", StringResourceType.TaskPage).ToString(), taskCount)</span>
            </div>
            <!-- /.pull-right -->
        </div>
        <div class="table-responsive task-table">
            <table class="table table-hover table-striped task-list">
                <tbody>
                    @if (Model.TaskList.Any())
                    {
                        foreach (var task in Model.TaskList)
                        {
                            <tr data-id="@task.TaskId" data-code="@task.TaskCode">
                                <td width="20"><input data-id="@task.TaskId" type="checkbox"></td>
                                <td class="task-name"><a>@task.TaskCode</a></td>
                                <td class="task-title">
                                    @task.TaskTitle
                                </td>
                                <td title="@Html.GetStringResource("AssignTo", StringResourceType.TaskPage) @task.Assignee.DisplayName" class="task-assignee"><i class="fa fa-user text-green"></i> @task.Assignee.DisplayName</td>
                                <td class="task-status">
                                    <task-status asp-for="@task.Status"></task-status>
                                </td>
                                @if (task.HasAttachment)
                                {
                                    <td class="task-attachment"><i class="fa fa-paperclip"></i></td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                <td class="task-date">@task.UpdatedDate.TimeAgo()</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td><i class="fa fa-frown-o text-red"></i> @Html.GetStringResource("NoTask", StringResourceType.TaskPage)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer no-padding">
        <div class="task-controls">
            <!-- Check all button -->
            <button type="button" class="btn btn-default btn-sm checkbox-toggle">
                <i class="fa fa-square-o"></i>
            </button>
            <div class="btn-group">
                <button type="button" title="@Html.GetStringResource("Delete", StringResourceType.TaskPage)" class="btn btn-default btn-sm btn-delete-task"><i class="fa fa-trash-o"></i></button>
                <button type="button" title="@Html.GetStringResource("AddNewTask", StringResourceType.TaskPage)" class="btn btn-default btn-addnew-task btn-sm"><i class="fa fa-plus"></i></button>
                <button type="button" title="@Html.GetStringResource("AssignTask", StringResourceType.TaskPage)" class="btn btn-default btn-sm btn-assign-task"><i class="fa fa-share"></i></button>
            </div>
            <!-- /.btn-group -->
            <button type="button" title="@Html.GetStringResource("Refresh", StringResourceType.TaskPage)" class="btn btn-default btn-sm btn-refresh-task"><i class="fa fa-refresh"></i></button>
            <div class="pull-right">
                <span class="badge bg-aqua task-count">@Html.PrintNumberWithText(Html.GetStringResource("Task", StringResourceType.TaskPage).ToString(), taskCount)</span>
            </div>
            <!-- /.pull-right -->
        </div>
    </div>
</div>

<input type="hidden" id="phase-id" asp-for="Phase.Id" />