@model ToDoItemViewModel
<div class="modal fade" id="todoitem-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @if (Model.Id <= 0)
                {
                    <h4 class="modal-title">@Html.GetStringResource("AddNewTodoItem", StringResourceType.DashboardPage)</h4>
                }
                else
                {
                    <h4 class="modal-title">@Html.GetStringResource("Edit",StringResourceType.DashboardPage) '@Model.Title'</h4>
                }

            </div>
            <form id="todoItem-form" class="form-horizontal">
                <input asp-for="Id" type="hidden" />
                <input asp-for="ManagedCode" type="hidden" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputPhaseName" class="col-sm-3 control-label">@Html.GetStringResource("Title", StringResourceType.DashboardPage)</label>
                        <div class="col-sm-9">
                            <input asp-for="Title" class="form-control" id="todo-title" placeholder="@Html.GetStringResource("Title", StringResourceType.DashboardPage)">
                            <p><span asp-validation-for="Title" class="text-danger"></span></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectStatusList" class="col-sm-3 control-label">@Html.GetStringResource("Priority", StringResourceType.DashboardPage)</label>
                        <div class="col-sm-9">
                            <select asp-for="Priority" asp-items="@Model.PriorityList" id="selectStatusList" class="form-control select2"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectStatusList" class="col-sm-3 control-label">@Html.GetStringResource("Status", StringResourceType.DashboardPage)</label>
                        <div class="col-sm-9">
                            <select asp-for="Status" asp-items="@Model.StatusList" id="selectStatusList" class="form-control select2"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputCompleteOn" class="col-sm-3 control-label">@Html.GetStringResource("CompletedOn", StringResourceType.DashboardPage)</label>
                        <div class="col-sm-9">
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input asp-for="CompleteOn" class="form-control pull-right datepicker" id="inputCompleteOn" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary btn-confirm">@Html.GetStringResource("Submit", StringResourceType.DashboardPage)</button>
                </div>
            </form>
        </div>
    </div>
</div>