@model IEnumerable<AttachmentModel>
@{ 

    var totalItems = 0;
    if (Model != null)
    {
        totalItems = Model.Count();
    }
}
<div class="content-container">
    <div class="row attachment-header">
        <div class="col-sm-5 col-xs-8">
            <h4 class="text-light-blue">@Html.GetStringResource("Attachment", StringResourceType.TaskPage)</h4>
            @if (totalItems > 0)
            {
                string content = Html.GetStringResource("CountAttachmentItem", StringResourceType.TaskPage).ToString();
                if (totalItems > 1)
                {
                    content = Html.GetStringResource("CountAttachmentItems", StringResourceType.TaskPage).ToString();
                }
                <h5 class="text-red small">@string.Format(content, totalItems)</h5>
            }
            else
            {
                <h5 class="text-red small">@Html.GetStringResource("EmptyAttachment", StringResourceType.TaskPage)</h5>
            }
        </div>
        
        <div class="col-sm-7 col-xs-4">
            <div class="pull-right upload-file">
                <label for="file-upload">
                    <a class="btn btn-app btn-xs">
                        <i class="fa fa-cloud-upload"></i> @Html.GetStringResource("UploadFile", StringResourceType.TaskPage)
                    </a>
                </label>
                <input id="file-upload" type="file" />
            </div>
        </div>
    </div>
    <div class="row attachment-list">
        @if (Model != null && Model.Any())
        {
            var i = 1;
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th style="width: 10px">#</th>
                        <th>@Html.GetStringResource("Files", StringResourceType.TaskPage)</th>
                        <th style="width: 150px"></th>
                        <th style="width: 130px"></th>
                        <th style="width: 60px"></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@i.</td>
                            <td>@item.FileName</td>
                            <td><i class="fa fa-user text-green"></i> @item.User.DisplayName</td>
                            <td><i class="fa fa-calendar-check-o"></i> @item.AddedDate.ToString("dd/MM/yyyy")</td>
                            <td>
                                <div class="row">
                                    <a target="_blank" asp-action="DowloadAttachment" asp-controller="TaskMedia" asp-route-id="@item.AttatchmentId">
                                        <span class="badge bg-yellow"><i class="fa fa-save"></i></span>
                                    </a>
                                    <a href="" data-attachment-id="@item.AttatchmentId" class="remove-attachment" ><span class="badge bg-red"><i class="fa fa-remove"></i></span></a>
                                </div>
                            </td>
                        </tr>
                        i++;
                    }                    
                </tbody>
            </table>
        }
    </div>
</div>