@model TaskItemViewModel

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="task-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @if (Model.TaskId == 0)
                {
                    <h4 class="modal-title">@Html.GetStringResource("CreateNewTask", StringResourceType.TaskPage)</h4>
                }
                else
                {
                    <h4 class="modal-title">@Html.GetStringResource("Task", StringResourceType.TaskPage) <b>'@Model.TaskTitle'</b></h4>
                }
            </div>
            <form asp-action="@Model.ActionType" method="post" id="task-form" class="form-horizontal">
                <input type="hidden" asp-for="TaskId" />
                <input type="hidden" asp-for="TaskCode" />
                <input type ="hidden" asp-for="AccountId"/>
                <input type="hidden" asp-for="ProjectId" />
                <input type="hidden" asp-for="CreatedDate" />

                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputTaskTitle" class="col-sm-2 control-label">@Html.GetStringResource("TaskTitle", StringResourceType.TaskPage)</label>
                        <div class="col-sm-9">
                            <input asp-for="TaskTitle" class="form-control" id="inputTaskTitle" placeholder="@Html.GetStringResource("TaskTitle", StringResourceType.TaskPage)" />
                            <p><span asp-validation-for="TaskTitle" class="text-danger"></span></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectPhaseList" class="col-sm-2 control-label">@Html.GetStringResource("PhaseAndPriority", StringResourceType.TaskPage)  </label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-6">
                                    <select asp-for="PhaseId" asp-items="@Model.PhaseList" id="selectPhaseList" class="form-control select2"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select asp-for="Priority" asp-items="@Model.PriorityList" id="selectPriority" class="form-control select2"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectTaskStatusList" class="col-sm-2 control-label">@Html.GetStringResource("Status", StringResourceType.TaskPage)  </label>
                        <div class="col-sm-9">
                            <select asp-for="Status" asp-items="@Model.StatusList" id="selectTaskStatusList" class="form-control select2"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectAssignList" class="col-sm-2 control-label">@Html.GetStringResource("AssignTo", StringResourceType.TaskPage)</label>
                        <div class="col-sm-9">
                            <select asp-for="Assignee" asp-items="@Model.AssigneeList" id="selectAssignList" class="form-control select2"></select>
                        </div>
                    </div>
                    @{
                        var display = Model.TaskId <= 0 ? "none-display" : "";
                    }

                    <div class="form-group">
                        <label for="inputEstimateTime" class="col-sm-2 control-label">@Html.GetStringResource("EstimateTime", StringResourceType.TaskPage)  </label>
                        <div class="col-sm-3">
                            <input asp-for="EstimateTime" id="inputEstimateTime" class="form-control" /><span>(Hour)</span>
                            <p><span asp-validation-for="EstimateTime" class="text-danger"></span></p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSpendTime" class="col-sm-2 control-label">@Html.GetStringResource("SpentTime", StringResourceType.TaskPage)  </label>
                        <div class="col-sm-3">
                            <input asp-for="SpentTime" id="inputSpendTime" class="form-control" /><span>(Hour)</span>
                            <p><span asp-validation-for="SpentTime" class="text-danger"></span></p>
                        </div>
                    </div>

                    <div class="form-group percentComplete @display">
                        <label for="percentComplete" class="col-sm-2 control-label">@Html.GetStringResource("PercentComplete", StringResourceType.TaskPage)</label>
                        <div class="col-sm-9">
                            <div class="slidecontainer">
                                <input asp-for="@Model.PercentCompleted" type="range" class="slider" />
                                <p><span class="slider-value pull-right badge bg-green"></span></p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_detail" data-toggle="tab" aria-expanded="true">@Html.GetStringResource("Detail", StringResourceType.TaskPage)</a></li>
                                @if (Model.TaskId > 0)
                                {
                                    <li class=""><a href="#tab_attachment" data-toggle="tab" aria-expanded="false">@Html.GetStringResource("Attachment", StringResourceType.TaskPage)</a></li>
                                    <li class=""><a href="#tab_history" data-toggle="tab" aria-expanded="false">@Html.GetStringResource("History", StringResourceType.TaskPage)</a></li>
                                }
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_detail">
                                    <textarea asp-for="TaskDetail" style="height:300px; width:100%;"></textarea>
                                </div>
                                @if (Model.TaskId > 0)
                                {
                                    <div class="tab-pane" id="tab_attachment">
                                        @await Component.InvokeAsync("Attachments", new { taskId = Model.TaskId })
                                    </div>
                                    <div class="tab-pane" id="tab_history">
                                        @await Component.InvokeAsync("HistoryList", new { taskId = Model.TaskId, accountId = Model.AccountId })
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-confirm">@Html.GetStringResource("Save", StringResourceType.TaskPage)</button>
                </div>
            </form>
        </div>
    </div>
</div>