<div class="box-header with-border">
    <h3 class="box-title">@Html.GetStringResource("TaskLabel", StringResourceType.TaskPage)</h3>

    <div class="box-tools">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<div class="box-body no-padding" style="">
    <ul class="nav nav-pills nav-stacked">
        <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> @Html.GetStringResource("Open", StringResourceType.TaskPage)</a></li>
        <li><a href="#"><i class="fa fa-coffee text-fuchsia"></i> @Html.GetStringResource("WaitForFeedBack", StringResourceType.TaskPage)</a></li>
        <li><a href="#"><i class="fa fa-anchor"></i> @Html.GetStringResource("Assiged", StringResourceType.TaskPage)</a></li>
        <li><a href="#"><i class="fa fa-plane text-yellow"></i> @Html.GetStringResource("Working", StringResourceType.TaskPage)</a></li>
        <li><a href="#"><i class="fa fa-thumbs-o-up"></i> @Html.GetStringResource("Resovled", StringResourceType.TaskPage)</a></li>
        <li><a href="#"><i class="fa fa-close text-red"></i> @Html.GetStringResource("Failed", StringResourceType.TaskPage)</a></li>
        <li><a href="#"><i class="fa fa-check-circle text-success"></i> @Html.GetStringResource("Closed", StringResourceType.TaskPage)</a></li>
    </ul>
</div>