@model ChangePasswordViewModel

<form asp-action="UpdatePassword" method="post" asp-controller="UserProfile" class="frm-update-pass form-horizontal">
    <div class="form-group">
        <label for="inputName" class="col-sm-3 control-label">@Html.GetStringResource("CurrentPassword", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-4">
            <input type="password" asp-for="CurrentPassword" class="form-control" id="inputPassword" placeholder="@Html.GetStringResource("InputCurrentPassword", StringResourceType.UserProfilePage)">
            <div>
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputNickName" class="col-sm-3 control-label">@Html.GetStringResource("NewPassword", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-4">
            <input type="password" asp-for="NewPassword" class="form-control" id="inputNewPassword" placeholder="@Html.GetStringResource("InputNewPassword", StringResourceType.UserProfilePage)">
            <div>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputJobTitle" class="col-sm-3 control-label">@Html.GetStringResource("ConfirmNewPassword", StringResourceType.UserProfilePage)</label>
        <div class="col-sm-4">
            <input type="password" asp-for="ConfirmNewPassword" class="form-control" id="inputConfirmNewPassword" placeholder="@Html.GetStringResource("InputConfirmNewPassword", StringResourceType.UserProfilePage)">
            <div>
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-danger">@Html.GetStringResource("Submit", StringResourceType.UserProfilePage)</button>
        </div>
    </div>
</form>