@model IEnumerable<NotificationModel>

<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label label-warning">@Model.Count()</span>
</a>

<ul class="dropdown-menu">
    <li class="header">
        @if (Model.Count() <= 1)
        {
            @Html.Raw(string.Format(Html.GetStringResource("NotificationCountSingle",
                 StringResourceType.Notification).ToString(), Model.Count()))
        }
        else
        {
            @Html.Raw(string.Format(Html.GetStringResource("NotificationCountPlural",
                          StringResourceType.Notification).ToString(), Model.Count()))
        }
    </li>
    @if (Model.Any())
    {
        <li>
            <ul class="menu">
                @foreach (var item in Model)
                {
                    <li>
                        <a title="@Html.DisplayPlanText(item.Content)" asp-action="NotificationList" asp-controller="Notification">
                            <i class="fa fa-users text-aqua"></i> @Html.Raw(item.Content)
                            <p><small>@item.CreatedDate.TimeAgo()</small></p>
                        </a>
                    </li>
                }
            </ul>
        </li>

    }
    else
    {
        <li>
            <ul class="menu">
                <li>
                    <a>
                        <i class="fa fa-users text-aqua"></i> @Html.GetStringResource("EmptyNotification", StringResourceType.Notification)
                    </a>
                </li>
            </ul>
        </li>
    }
    <li class="footer"><a asp-action="NotificationList" asp-controller="Notification">@Html.GetStringResource("ViewAll", StringResourceType.Notification)</a></li>

</ul>