
@{
    var canDisplay = !string.IsNullOrEmpty(Html.PrintSucessMessage().ToString());
    ViewBag.Title = "EzTask - " + Html.GetStringResource("CreateProjectSuccessPageTitle", StringResourceType.ProjectPage).ToString();
}

@model ProjectModel
@section header{
    <h1>
        @Html.GetStringResource("Project", StringResourceType.BreadCrumb)
        <small>@Html.GetStringResource("CreateProjectSuccessTitle", StringResourceType.BreadCrumb)</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)</a></li>
        <li><a asp-action="Index" asp-controller="Project">@Html.GetStringResource("Project", StringResourceType.BreadCrumb)</a></li>
        <li class="active">@Html.GetStringResource("CreateProjectSuccess", StringResourceType.BreadCrumb)</li>
    </ol>
}
<div class="box box-primary">
    <div class="box-header with-border">
        @if (!canDisplay)
        {
            <h3><i class="fa fa-frown-o"></i><span class="space-left">@Html.GetStringResource("PageNotFound", StringResourceType.Error)</span></h3>
            <span>@Html.GetStringResource("Click", StringResourceType.ProjectPage) <a asp-action="Index" asp-controller="Project">@Html.GetStringResource("Here", StringResourceType.ProjectPage)</a> @Html.GetStringResource("GoBackProjectListTitle", StringResourceType.ProjectPage)</span>
        }
        else
        { <i class="fa fa-circle text-green"></i>
            <h3 class="box-title">@Html.PrintSucessMessage()</h3>
        }
    </div>
    @if (canDisplay)
    {
        <partial name="_CreateOrUpdateSuccess" model="Model"/>
    }
</div>