@model IList<List<ProjectViewModel>>
@{
    var projectCount = ViewBag.TotalProject;
    var boxStyle = projectCount == 0 ? "box" : "";
    ViewBag.Title = "EzTask - "+ Html.GetStringResource("ProjectPageTitle", StringResourceType.ProjectPage).ToString();
}
@section styles{
    <link rel="stylesheet" href="~/project/css/project.css">
}
@section header{
    <h1>
        @Html.GetStringResource("Project", StringResourceType.BreadCrumb)
        <small>@Html.GetStringResource("YourCurrentProject", StringResourceType.BreadCrumb)</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)</a></li>
        <li class="active">@Html.GetStringResource("Project", StringResourceType.BreadCrumb)</li>
    </ol>
}

<div class="@boxStyle box-primary">
    <div class="box-header">
        <i class="fa fa-bandcamp"></i>
        @if (projectCount < 2)
        {
            <h3 class="box-title">@string.Format(Html.GetStringResource("CountProjectSingle", StringResourceType.ProjectPage).ToString(), projectCount)</h3>
        }
        else
        {
            <h3 class="box-title">@string.Format(Html.GetStringResource("CountProjectPlural", StringResourceType.ProjectPage).ToString(), projectCount)</h3>
        }
        <a asp-action="CreateNew" asp-controller="Project" class="btn bg-orange btn-flat pull-right">
            <i class="fa fa-plus"></i>
            <span class="space-left">@Html.GetStringResource("CreateNew", StringResourceType.ProjectPage)</span>
        </a>
        <div class="project-status">
            <span class="space-right">@Html.GetStringResource("StatusColor", StringResourceType.ProjectPage): </span>
            <h3 class="box-title bg-primary">@Html.GetStringResource("Pending", StringResourceType.ProjectPage)</h3>
            <h3 class="box-title bg-green">@Html.GetStringResource("Completed", StringResourceType.ProjectPage)</h3>
            <h3 class="box-title bg-yellow">@Html.GetStringResource("Canceled", StringResourceType.ProjectPage)</h3>
            <h3 class="box-title bg-red">@Html.GetStringResource("Failed", StringResourceType.ProjectPage)</h3>
            <h3 class="box-title bg-info-color">@Html.GetStringResource("Implementing", StringResourceType.ProjectPage)</h3>
        </div>
    </div>
    <div class="box-body">
        @if (ViewBag.TotalProject <= 0)
        {
            <div class="box-header with-border">
                <h3><i class="fa fa-frown-o"></i><span class="space-left">@Html.GetStringResource("NoProject", StringResourceType.ProjectPage)</span></h3>
                <span>@Html.GetStringResource("Click", StringResourceType.ProjectPage) <a asp-action="CreateNew" asp-controller="Project">@Html.GetStringResource("Here", StringResourceType.ProjectPage)</a> @Html.GetStringResource("CreateProjectTitle", StringResourceType.ProjectPage)</span>
            </div>
        }
        else
        {
            @await Component.InvokeAsync("ProjectList")
        }
    </div>
</div>

<div class="modal fade" data-backdrop="static" data-keyboard="false" id="add-member-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">@Html.GetStringResource("AddNewMemberTitle", StringResourceType.ProjectPage)</h4>
            </div>
            <div class="modal-body">
                <div class="box-body">
                    <div class="input-group">
                        <span class="input-group-addon">@Html.Raw("@")</span>
                        <input type="email" class="form-control txt-account" placeholder="@Html.GetStringResource("TypeEmailTitle", StringResourceType.ProjectPage)">                       
                    </div>                  
                </div>
                <input type="hidden" id="project-id" />
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary btn-confirm">@Html.GetStringResource("Add", StringResourceType.ProjectPage)</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/project/js/project.js"></script>
}