
@{
    ViewBag.Title = "EzTask - "+ Html.GetStringResource("RegisterPageTitle", StringResourceType.AuthenticationPage);
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}
@section styles{
    <link rel="stylesheet" href="~/authen/css/authen.css">
}
@model RegisterViewModel

<p class="login-box-msg">@Html.GetStringResource("RegisterTitle", StringResourceType.AuthenticationPage)</p>
<form asp-action="Register" method="post">
    <div class="text-danger"><span>@Html.PrintErrorMessage()</span></div>
    <div class="form-group has-feedback">
        <input asp-for="FullName" type="text" class="form-control" placeholder="@Html.GetStringResource("FullName", StringResourceType.AuthenticationPage)">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
        <div>
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <input asp-for="AccountName" type="email" class="form-control" placeholder="@Html.GetStringResource("Email", StringResourceType.AuthenticationPage)">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div>
            <span asp-validation-for="AccountName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <input asp-for="Password" type="password" class="form-control" placeholder="@Html.GetStringResource("Password", StringResourceType.AuthenticationPage)">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group has-feedback">
        <input asp-for="PasswordTemp" type="password" class="form-control" placeholder="@Html.GetStringResource("RetypePassword", StringResourceType.AuthenticationPage)">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
        <div>
            <span asp-validation-for="PasswordTemp" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-8">
            <div class="checkbox icheck">
                <label>
                    <input asp-for="IsAcceptPolicy" type="checkbox"> @Html.GetStringResource("AgreeTerm", StringResourceType.AuthenticationPage) <a href="">@Html.GetStringResource("Term", StringResourceType.AuthenticationPage)</a>
                </label>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
            <button type="submit" class="btn btn-primary btn-block btn-flat">@Html.GetStringResource("Register", StringResourceType.AuthenticationPage)</button>
        </div>
        <!-- /.col -->
    </div>
</form>

<a href="login.html" class="text-center">@Html.GetStringResource("AlreadyHaveAccount", StringResourceType.AuthenticationPage)</a>
