@model AccountInfoViewModel
@{
    ViewBag.Title = "EzTask - " + Html.GetStringResource("UserProfile", StringResourceType.UserProfilePage);
}

@section styles{
    <link rel="stylesheet" href="~/userprofile/css/user-profile.css">
}
@section header{
    <h1>
        <i class="fa fa-user-secret"></i> @Html.GetStringResource("UserProfile", StringResourceType.BreadCrumb)
    </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> @Html.GetStringResource("Dashboard", StringResourceType.BreadCrumb)</a></li>
        <li class="active">@Html.GetStringResource("UserProfile", StringResourceType.BreadCrumb)</li>
    </ol>
}

<div class="row">
    <div class="col-md-3">
        <!-- Profile Image -->
        <div class="box box-primary">
            <div class="box-body box-profile">
                <a href="" data-toggle="modal" data-target="#upload-avatar-modal">
                    <img class="profile-user-img img-responsive img-circle" src="@Url.Action("LoadAvatar","Common")" alt="User profile picture">
                </a>
                <h3 class="profile-username text-center">@Html.DisplayName()</h3>
                <p class="text-muted text-center">@Html.GetStringResource("JobTitle", StringResourceType.UserProfilePage): @Html.JobTitle()</p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
        <!-- About Me Box -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@Html.GetStringResource("AboutMe", StringResourceType.UserProfilePage)</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <strong><i class="fa fa-book margin-r-5"></i> @Html.GetStringResource("Education", StringResourceType.UserProfilePage)</strong>
                <p class="text-muted">
                    @Model.Education
                </p>
                <hr>
                <strong><i class="fa fa-map-marker margin-r-5"></i> @Html.GetStringResource("Location", StringResourceType.UserProfilePage)</strong>
                <p class="text-muted">@Model.Address1</p>
                <hr>
                <partial name="_SkillInfo" />
                <hr>
                <strong><i class="fa fa-file-text-o margin-r-5"></i> @Html.GetStringResource("SummaryInfo", StringResourceType.UserProfilePage)</strong>
                <p>@Model.Introduce</p>
            </div>
            <!-- /.box-body -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col -->
    <div class="col-md-9">
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#Information" data-toggle="tab">@Html.GetStringResource("PersonalInformation", StringResourceType.UserProfilePage)</a></li>
            </ul>
            <div class="tab-content">
                <div class="active actab-pane" id="Information">
                    <partial name="_UpdateInfo" />
                </div>
            </div>
        </div>
    </div>
    <!-- /.col -->
</div>
<partial name="_UploadAvatarModal" />
<!-- /.row -->
@section Scripts{
    <script src="~/userprofile/js/user-profile.js"></script>
    <partial name="_ValidationScriptsPartial" />
}