@model IEnumerable<TaskItemModel>
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-flag-o"></i>
    <span class="label label-danger">@Model.Count()</span>
</a>
<ul class="dropdown-menu">
    <li class="header">
        @if (Model.Count() <= 1)
        {
            @Html.Raw(string.Format(Html.GetStringResource("TaskNotificationCountSingle",
                 StringResourceType.Notification).ToString(), Model.Count()))
        }
        else
        {
            @Html.Raw(string.Format(Html.GetStringResource("TaskNotificationCountPlural",
                          StringResourceType.Notification).ToString(), Model.Count()))
        }
    </li>
    @if (Model.Any())
    {
        <li>
            <ul class="menu">
                @foreach (var item in Model)
                {
                    <li>
                        <a href="/task.html?code=@item.TaskCode">
                            <h3>
                                @item.TaskTitle
                                <small class="pull-right">@item.PercentCompleted%</small>
                            </h3>
                            <div class="progress xs">
                                <div class="progress-bar progress-bar-aqua" style="width: @item.PercentCompleted%" role="progressbar"
                                     aria-valuenow="@item.PercentCompleted" aria-valuemin="0" aria-valuemax="100">
                                    <span class="sr-only">@item.PercentCompleted% Complete</span>
                                </div>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </li>
    }
    else
    {
        <li>
            <ul class="menu">
                <li>
                    <a>
                        <i class="fa fa-users text-aqua"></i> @Html.GetStringResource("EmptyNotification", StringResourceType.Notification)
                    </a>
                </li>
            </ul>
        </li>
    }
    <li class="footer"><a asp-action="Index" asp-controller="Task">@Html.GetStringResource("ViewAll", StringResourceType.Common)</a></li>
</ul>