@model TaskItemViewModel
@{
    string action = "taskitem/" + Model.ActionType + ".html";
}
<div class="modal fade" data-backdrop="static" data-keyboard="false" id="task-modal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create new task</h4>
            </div>
            <form asp-action="@Model.ActionType" method="post" id="task-form" class="form-horizontal">
                <input type="hidden" asp-for="TaskId" />
                <input type="hidden" asp-for="TaskCode" />
                <input type="hidden" asp-for="ProjectId" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputTaskTitle" class="col-sm-2 control-label">Task Title</label>
                        <div class="col-sm-9">
                            <input asp-for="TaskTitle" class="form-control" id="inputTaskTitle" placeholder="Task title" />
                            <p><span asp-validation-for="TaskTitle" class="text-danger"></span></p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="selectPhraseList" class="col-sm-2 control-label">Phrase / Priority  </label>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-6">
                                    <select asp-for="PhraseId" asp-items="@Model.PhraseList" id="selectPhraseList" class="form-control select2"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select asp-for="Priority" asp-items="@Model.PriorityList" id="selectPriority" class="form-control select2"></select>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectTaskStatusList" class="col-sm-2 control-label">Status  </label>
                        <div class="col-sm-9">
                            <select asp-for="Status" asp-items="@Model.StatusList" id="selectTaskStatusList" class="form-control select2"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="selectAssignList" class="col-sm-2 control-label">Assign To</label>
                        <div class="col-sm-9">
                            <select asp-for="Assignee" asp-items="@Model.AssigneeList" id="selectAssignList" class="form-control select2"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_detail" data-toggle="tab" aria-expanded="true">Details</a></li>
                                <li class=""><a href="#tab_attachment" data-toggle="tab" aria-expanded="false">Attachment</a></li>
                                <li class=""><a href="#tab_history" data-toggle="tab" aria-expanded="false">History</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="tab_detail">
                                    <textarea asp-for="TaskDetail" style="height:300px; width:100%;"></textarea>
                                </div>
                                <div class="tab-pane" id="tab_attachment">
                                    The European languages are members of the same family. Their separate existence is a myth.
                                    For science, music, sport, etc, Europe uses the same vocabulary. The languages only differ
                                    in their grammar, their pronunciation and their most common words. Everyone realizes why a
                                    new common language would be desirable: one could refuse to pay expensive translators. To
                                    achieve this, it would be necessary to have uniform grammar, pronunciation and more common
                                    words. If several languages coalesce, the grammar of the resulting language is more simple
                                    and regular than that of the individual languages.
                                </div>
                                <div class="tab-pane" id="tab_history">
                                    <div class="content-container">
                                        <div class="row history-item">
                                            <div class="content-item col">
                                                <img src="@Url.Action("LoadAvatar","Common")" class="img-circle pull-left  img-thumbnail" alt="User Image">
                                                <div style="height:61px; padding-top:10px; padding-left:73px">
												 <span><b>Linh Pham</b> updated conent of task "Tạo phrase 1" on </span>
                                                <p>Update on: 12/07/2018 3:00:44</p>
												
												</div>
												<span class="pull-right">delete</span>
                                            </div>
                                        </div>
                                        <div class="row history-item">
                                            <div class="content-item col">
                                                <img src="@Url.Action("LoadAvatar","Common")" class="img-circle img-thumbnail" alt="User Image">
                                                <span>  Update 2 ưerwerwerwerwerwerwerwerwerwe</span>
                                            </div>
                                        </div>
                                        <div class="row history-item">
                                            <div class="content-item col">
                                                <img src="@Url.Action("LoadAvatar","Common")" class="img-circle img-thumbnail" alt="User Image">
                                                <span>  Update 2 ưerwerwerwerwerwerwerwerwerwerwrrwerwerwe</span>
                                            </div>
                                        </div>
                                        <div class="row history-item">
                                            <div class="content-item col">
                                                <img src="@Url.Action("LoadAvatar","Common")" class="img-circle img-thumbnail" alt="User Image">
                                                <span>  Update 2 ưerwerwerwerwerwerwerwerwerwerwrrwerwerwe</span>
                                            </div>
                                        </div>
                                        <div class="row history-item">
                                            <div class="content-item col">
                                                <img src="@Url.Action("LoadAvatar","Common")" class="img-circle img-thumbnail" alt="User Image">
                                                <span>  Update 2 ưerwerwerwerwerwerwerwerwerwerwrrwerwerwe</span>
                                            </div>
                                        </div>
                                        <div class="row history-item">
                                            <div class="content-item col">
                                                <img src="@Url.Action("LoadAvatar","Common")" class="img-circle img-thumbnail" alt="User Image">
                                                <span>  Update 2 ưerwerwerwerwerwerwerwerwerwerwrrwerwerwe</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-confirm">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>