@model PhaseViewModel
<div class="modal fade" id="phase-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                @if (Model.PhaseId <= 0)
                {
                    <h4 class="modal-title">@Html.GetStringResource("AddNewPhase", StringResourceType.TaskPage)</h4>
                }
                else
                {
                    <h4 class="modal-title">@Html.GetStringResource("EditPhase", StringResourceType.TaskPage) '@Model.PhaseName'</h4>
                }

            </div>
            <form id="phase-form" class="form-horizontal">
                <input asp-for="ProjectId" class="project-id" type="hidden" />
                <input asp-for="PhaseId" class="phase-id" type="hidden" />
                <input asp-for="IsDefault" class="phase-default" type="hidden" />
                <div class="modal-body">
                    <div class="form-group">
                        <label for="inputPhaseName" class="col-sm-3 control-label">@Html.GetStringResource("PhaseName", StringResourceType.TaskPage)</label>
                        <div class="col-sm-9">
                            <input asp-for="PhaseName" class="form-control" id="inputPhaseName" placeholder="@Html.GetStringResource("PhaseName", StringResourceType.TaskPage)">
                            <p><span asp-validation-for="PhaseName" class="text-danger"></span></p>
                        </div>
                    </div>
                    @if (Model.PhaseId > 0)
                    {
                        <div class="form-group">
                            <label for="selectStatusList" class="col-sm-3 control-label">@Html.GetStringResource("Status", StringResourceType.TaskPage)  </label>
                            <div class="col-sm-9">
                                <select asp-for="Status" asp-items="@Model.StatusList" id="selectStatusList" class="form-control select2"></select>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input asp-for="Status" class="phase-status" type="hidden" />
                    }
                    @if (!Model.IsDefault)
                    {
                        <div class="form-group">
                            <label for="inputStartDate" class="col-sm-3 control-label">@Html.GetStringResource("StartDate", StringResourceType.TaskPage)</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input asp-for="StartDate" class="form-control pull-right datepicker" id="inputStartDate" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEndDate" class="col-sm-3 control-label">@Html.GetStringResource("End date", StringResourceType.TaskPage)</label>
                            <div class="col-sm-9">
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input asp-for="EndDate" class="form-control pull-right datepicker" id="inputEndDate" type="text">
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <input type="hidden" asp-for="StartDate" />
                        <input type="hidden" asp-for="EndDate" />
                    }
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-confirm">@Html.GetStringResource("Submit", StringResourceType.TaskPage)</button>
                </div>
            </form>
        </div>
    </div>
</div>