@model IEnumerable<List<ProjectModel>>
@foreach (var projects in Model)
{
    <div class="row">
        @foreach (var item in projects)
        {

            <div class="col-md-4">
                <div class="box box-@item.BoxType direct-chat direct-chat-@item.BoxType">
                    <div class="box-header with-border">
                        <h3 class="box-title">@item.ProjectCode</h3>

                        <div class="box-tools pull-right">
                            <span data-toggle="tooltip" title="EzTask#001 has 9 tasks" class="badge bg-@item.Color" data-original-title="EzTask#001 has 9 tasks">20</span>
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-box-tool" data-toggle="tooltip" title="member list" data-widget="chat-pane-toggle" data-original-title="Contacts">
                                <i class="fa fa-user"></i>
                            </button>
                            <a asp-action="Update" asp-controller="Project" asp-route-code="@item.ProjectCode" class="btn btn-box-tool" title="Edit"><i class="fa fa-edit"></i></a>
                            <button data-source="@item.ProjectName" data-code="@item.ProjectCode" type="button" class="btn btn-box-tool remove-project" title="Delete"><i class="fa fa-times"></i></button>
                        </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body" style="">
                        <div class="project-item">
                            <div>
                                <i class="fa fa-book"></i><b> Project Name</b>:
                                <div class="name">
                                    <span>@item.ProjectName</span>
                                </div>
                            </div>

                            <div>
                                <i class="fa fa-audio-description"></i><b> Project Description</b>:
                                <div class="description">
                                    <span>@item.Description</span>
                                </div>
                            </div>
                            <div>
                                <i class="fa fa-user-circle"></i><b> Owner</b>:
                                <div class="description">
                                    <span>@item.Owner.DisplayName is owner of project</span>
                                </div>
                            </div>
                            <div>
                                <i class="fa fa-calendar"></i><b> Created date</b>:
                                <div class="description">
                                    <span>Project was created at @item.CreatedDate.ToString("MM/dd/yyyy")</span>
                                </div>
                            </div>
                        </div>
                        <div class="direct-chat-contacts">
                            <ul class="contacts-list">
                                <li>
                                    <a href="#">
                                        <img class="contacts-list-img" src="~/themes/dist/img/user1-128x128.jpg" alt="User Image">

                                        <div class="contacts-list-info">
                                            <span class="contacts-list-name">
                                                Linh Pham
                                                <small class="contacts-list-date pull-right">2/28/2015</small>
                                            </span>
                                            <span class="contacts-list-msg">Linh pham is having 9 tasks</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer" style="">
                        <i class="fa fa-circle text-@item.Color"></i> @item.Status.ToString()
                        <a asp-action="Index" asp-controller="ProjectDetail" 
                           asp-route-code="@item.ProjectCode" class="btn btn-flat btn-@item.BoxType btn-sm pull-right">
                            <span><i class="fa fa-hand-o-right"></i> View Detail</span>
                        </a>
                    </div>
                    <!-- /.box-footer-->
                </div>
            </div>
        }
    </div>
}