<div id="message-common">
    <input id="success-title" type="hidden" value="@Html.GetStringResource("Success", StringResourceType.DialogTitle)" />
    <input id="error-title" type="hidden" value="@Html.GetStringResource("Error", StringResourceType.DialogTitle)" />
    <input id="alert-title" type="hidden" value="@Html.GetStringResource("Alert", StringResourceType.DialogTitle)" />
    <input id="warning-title" type="hidden" value="@Html.GetStringResource("Warning", StringResourceType.DialogTitle)" />
    <input id="add-member-success" type="hidden" value="@Html.GetStringResource("AddMemberSuccess", StringResourceType.ProjectPage)" />

    <input id="remove-phase-warning" type="hidden" value="@Html.GetStringResource("RemovePhaseWarning", StringResourceType.TaskPage)" />
    <input id="no-task-selected-delete-warning" type="hidden" value="@Html.GetStringResource("NoTaskSelectedDeleteWarning", StringResourceType.TaskPage)" />
    <input id="no-task-selected-warning" type="hidden" value="@Html.GetStringResource("NoTaskSelectedWarning", StringResourceType.TaskPage)" />
    <input id="delete-task-warning" type="hidden" value="@Html.GetStringResource("DeleteTaskWarning", StringResourceType.TaskPage)" />
    <input id="attatchment-tab" type="hidden" value="@Html.GetStringResource("AttatchmentTab", StringResourceType.TaskPage)" />
    <input id="history-tab" type="hidden" value="@Html.GetStringResource("HistoryTab", StringResourceType.TaskPage)" />
    <input id="task-title" type="hidden" value="@Html.GetStringResource("Task", StringResourceType.TaskPage)" />

    <input id="no-todoitem-seleted-warning" type="hidden" value="@Html.GetStringResource("NoTodoItemSelectedWarning", StringResourceType.DashboardPage)" />
    <input id="delete-todoitem-warning" type="hidden" value="@Html.GetStringResource("DeleteTodoItemWarning", StringResourceType.DashboardPage)" />
</div>